@font-face {
    font-family: 'Rubik';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Rubik-Regular.ttf') format('truetype'),
} 

.heading{
    margin-top: 20px;
    margin-left: 60px;
    font-family: "Rubik";
    font-weight: bold;
}

.home-heading{
    font-size: 80px;
    font-weight: bold;
}

.home-heading .blue{
    color: rgb(70, 118, 142);
}

.description {
    margin-left: 60px;
    margin-top: 30px;
    font-family: "Rubik";
    font-weight: bold;
}

.description-text {
    font-size: 30px;
}

.home-desc-button{
    margin-left: 60px;
    margin-top: 40px;
    font-family: "Rubik";
    font-weight: bold;
}

.home-deals{
    margin-top: -70px;
}



