.circle {
    width: 50px;
    height: 50px;
    background-color: #1E2874;
    border-radius: 50%; /* Makes the div a circle by setting border-radius to 50% */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    cursor: pointer; /* Adds pointer cursor for better UX */
  }
  
  .plus {
    line-height: 0; /* Aligns the plus sign in the center */
  }

  .need_hover:hover{
    cursor: pointer;
  }