/*****   FONTS  *********/
@font-face {
    font-family: 'Rubik';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Rubik-Regular.ttf') format('truetype');
} 

@font-face {
    font-family: 'Rubik';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/Rubik-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik';
    font-weight: lighter;
    font-style: normal;
    src: url("../fonts/Rubik-LightItalic.ttf") format('truetype');
}


/* HEADER STYLING */
.heading{
    padding-top: 120px;
}

.heading-text{
    font-size: 90px;
    text-align: right;
    font-weight: bold;
}

.heading-description{
    font-size: 20px;
}

.description{
    margin-right: 40%; 
}




/*  NAVBAR */
.navbar-custom {
    height: 100px; /* Adjust the height as needed */
    font-size: 18px; 
}

.nav-link {
    margin-right: 1rem; /* Adjust the margin value as needed */
}

.cart-button{
    color: red;
}






/*   UPCOMING CAMPS   */
.camp-loc-heading{
    font-size: 60px;
}

.camp-loc-desc{
    font-size: 30px;
}

.location-box{
    margin-top: 40px;
    background-color: rgb(222, 222, 231);
    color: rgb(70, 118, 142);
    position: relative;
    width: 70%;
    left: 15%;
    height: 100px;
    padding-top: 25px;
    border-radius: 20px;
}

.beach-button{
    margin-left: 75%;
    top: -50px;
    position: relative;
}

.north-button{
    margin-right: 75%;
    top: -50px;
    position: relative;
}

.beach-heading{
    margin-right: 50%;
    position: relative;
}

.north-heading{
    margin-left: 65%;
    position: relative;
}


/*    PRIVATE SESSIONS       */

.private-location-box{
    background-color: rgb(222, 222, 231);
    border-radius: 15px;
}


.private-timetable-box {
    background-color: rgb(222, 222, 231);
    border-radius: 30px;
}

.timetable-box {
    position: relative;
}

.cell{
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    border-radius: 100%;
}

.current-day{
    background-color: rgb(70, 118, 142);
    position: relative;
    width: 100%;
    height: 100%;
}

.activeDay{
    background-color: rgb(235, 235, 235);
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
}




.session-type-deactive{
    background-color: rgb(124, 124, 126);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    padding-bottom: 70px;
}

.session-type-active{
    background-color: rgb(70, 118, 142);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    padding-bottom: 70px;
}

.private-session-type{
    font-weight: lighter;
    font-size: 60px;
}

.private-session-price{
    font-size: 80px;
    font-weight: bold;
}

.kid-quantity{
    position: absolute;
    right: 170px;
    width: 60px;
    margin-top: 240px;
}

.private-add{
    text-align: center;
    margin-top: 60px;
}

.currently-chosen-box{
    background-color: rgb(70, 118, 142);
    position: absolute;
    left: 55%;
    margin-top: 300px;
    height: 130px;
    width: 35%;
    border-radius: 20px;
    padding: 20px;
}

.available-time-box{
    background-color: rgb(124, 124, 126);
    position: absolute;
    left: 55%;
    margin-top: 80px;
    height: 190px;
    width: 35%;
    border-radius: 20px;
    padding: 20px;
}

/*  MERCH  */
.merch-item-box{
    background-color: rgb(222, 222, 231);
    flex: 1;
    text-align: center;
    width: 70%;
    margin-top: 80px;
    height: 850px;
    border-radius: 30px;
    margin: 40px;
    margin-left: 60px;
    margin-right: 60px;
}

.merch-text{
    margin-top: 5%;
}

.merch-img{
    margin-top: 50px;
}

.merch-price{
    font-size: 50px;
}

.merch-size-title{
    position: relative;
    padding-right: 100px;
}

.merch-quantity{
    width: 400px;
    padding-left: 150px;
    display: flex;
    padding-top: 15px;
}

.merch-add{
    padding-top: 30px;
}

/*    MAIN PAGE   */
.individual-page-box{
    background-color: rgb(222, 222, 231);
    margin-top: 50px;
    width: 80%;
    left: 10%;
    position: relative;
    height: 500px;
    border-radius: 60px;
}

.page-box{
    padding: 60px;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
    background-color: rgb(70, 118, 142);
    padding-bottom: 200px;
    padding-top: 80px;
}

.holiday-box-heading{
    position: relative;
    margin-left: 70px;
    top: 70px;
    font-size: 60px;
    color: rgb(70, 118, 142);
    font-weight: bold;
}

.private-box-heading{
    position: relative;
    margin-left: 50%;
    top: 50px;
    font-size: 60px;
    color: rgb(70, 118, 142);
    font-weight: bold;
}

.dev-box-heading{
    position: relative;
    margin-left: 70px;
    top: 50px;
    font-size: 60px;
    color: rgb(70, 118, 142);
    font-weight: bold;
}

.holiday-box-box{
    width: 30%;
    padding-top: 110px;
    margin-left: 100px;
    text-align: center;
}

.holiday-button{
    padding-top: 60px;
}

.private-box-box{
    width: 30%;
    padding-top: 110px;
    margin-left: 56%;
    text-align: center;
}

.homelocation-box{
    height: 800px;
    margin-top: 60px;
    margin-left: 200px;
}

.location-heading{
    font-size: 60px;
    padding-top: 50px;
}

.spec-location-box{
    background-color: rgb(70, 118, 142);
    width: 95%;
    margin-top: 50px;
    height: 400px;
    border-radius: 30px;
    margin-left: -70px;
    padding: 30px;
    padding-left: 70px;
}   

.location-options{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;

}

.home-location-heading{
    font-size: 50px;
    color: white;
}

.button-loc{
    position: relative;
    margin-top: 20px;
}

.loc-address{
    color: white;
    margin-left: 70%;
    top: 20px;
    font-size: 2.5vh;
}

.loc-image{
    padding-left: 70%;
    margin-top: -310px;
}

/**    FOOTER  **/
.footer {
    background-color: rgb(222, 222, 231);
    height: 600px;
    margin-top: 100px;
    text-align: center;
    padding-top: 40px;
    font-family: 'Rubik', sans-serif;
  }
  
  .footer-headings {
    padding-top: 30px;
    font-weight: bold;
  }
  
  .club-logo {
    padding: 10px;
  }
  
  .clubs-logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .sponsors{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  